@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,300;1,400&display=swap");
.typed-cursor {
  display: none;
}

/* If fade out option is set */

html body {
  box-sizing: border-box;
  margin: 0;
  color: white;
}
body {
  font-family: "Open Sans", sans-serif;
  background: url("images/background.jpg") no-repeat center center fixed;
  background-size: cover;
}
#particles-js {
  position: fixed;
  z-index: 0;
}
#wrapper {
  display: block;
}
main {
  position: relative;
  opacity: 0;
  filter: blur(10px);
  transition: opacity 1s cubic-bezier(0.53, -0.27, 0.38, 1.17);
}
header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header > h1 {
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 1em;
  background-color: #000a;
  color: #fff;
  padding: 0.5em 1em;
  border: 1px solid #fffa;
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
}
header > img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid black;
  width: 10em;
  height: 10em;
  border-radius: 100%;
}
ul {
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  list-style: none;
  margin: 0 auto;
  padding: 2em;
  max-width: 480px;
}
ul > li {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  margin: 10px 0;
  text-align: center;
  padding: 1em;
  border-radius: 10em;
  background-color: #fffa;
  transition: all 0.7s cubic-bezier(0.21, -0.49, 0.29, 1.55);
  transition-delay: 2s;
}
ul > li:hover {
  transition: all 0.5s cubic-bezier(0.21, -0.49, 0.29, 1.55);
  backdrop-filter: none;
}
a {
  color: #000;
  text-decoration: none;
}
a > img {
  position: relative;
  top: 7px;
}
